<div>
    <table class="table-student">
        <thead class="header-table">
            <tr>
                <th *ngFor="let item of studentHeader" scope="col">{{item | titlecase}} &nbsp;&nbsp;<i [ngClass]="{'fa fa-sort-up':sortType === sortingType.ASC , 'fa fa-sort-down':sortType === sortingType.DESC,
                        'fa fa-sort':sortType === sortingType.NONE }" (click)="sortTable(sortType,item)"
                        style="font-family: FontAwesome;"></i></th>
            </tr>
        </thead>
        <tbody *ngFor="let item of studentItems">
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.class}}</td>
                <td>{{item.section}}</td>
                <td>{{item.sub1}}</td>
                <td>{{item.sub2}}</td>
                <td>{{item.sub3}}</td>
            </tr>
        </tbody>
    </table>
</div>