<div class="outer-div">
    <div >
        <div>
            <div>
                <div>
                    <div>
                        <div >
                            <div>
                                <div>
                                    <div class="inner-div">
                                        <marquee>A floating banner text which keeps on rotating</marquee>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
