.btn-submit{
    margin: 10px;
    float: left;
    cursor: pointer;
    background: transparent;
    border-radius: 25px;
}
.btn-submit.active{
    border: 1px solid gray;
    background-color: black;
    color: white;
}